body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  
}
button{
    width: 30px;
    height: 25px;
    margin: 3px;
    margin-left:4px;
    border-radius: 3px;
}
button:hover {
    color: blue;
}
.main{
    border: 2px solid black;
    width: 163px;
    height: 210px;
    border-radius: 5px;
    background:grey;
}
.raw1 {
    border-top:1px solid;
 
}
.screen {
    background: rgb(216, 216, 27);
    width:150px;
    height:40px;
    margin: 6px;
    border-radius:3px;
    
}